<!-- Validation failure messages -->
<% if @drink_vote.errors.any? %>
  <% @drink_vote.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Beverage Vote</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_drink_vote" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for drink_id -->
      <div class="form-group">
        <label for="drink_id" class="control-label">
          Beverage
        </label>

        <%= select_tag(:drink_id, options_from_collection_for_select(Drink.all, :id, :name, @drink_vote.drink_id), :class => "form-control") %>
        or <a href="/drinks/new">add a new beverage</a> first
      </div>

      <button class="btn btn-success">
        Create Beverage Vote
      </button>
      or
      <a href="/drink_leaderboard">Cancel</a>
    </form>
  </div>
</div>
