<!-- Validation failure messages -->
<% if @bus.errors.any? %>
  <% @bus.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>How many people will be riding the buses?</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_bus" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for need -->
      <!--<div class="checkbox">-->
      <!--  <label for="need">-->
          <input type="hidden" id="need" name="need" value="1">
      <!--    Need-->
      <!--  </label>-->
      <!--</div>-->

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for passengers -->
      <div class="form-group">
        <label for="passengers" class="control-label">
          Bus Passengers
        </label>

        <input type="text" id="passengers" name="passengers" placeholder="Bus Passengers" class="form-control" value="<%= @bus.passengers %>">
      </div>

      <button class="btn btn-success">
        Save bus choice
      </button>
      or
      <a href="/buses">Cancel</a>
    </form>
  </div>
</div>
